* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
input{
  border: none;
}
button:focus,input:focus{ outline: none; }
button{ border: none; }

body {
  margin: 0;
  padding: 0;
  background-color: rgb(239, 239, 239);
  color: #000;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  transition: all .5s;
  color: #b7b7b7;
}
.navBar.sticky{
  background-color: #fff;
  padding: 10px 0;
  z-index: 1;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.4);
  color: #3d4451;
}
.navBar>.navBar-Inner {
  padding: 0 16px;
}

.navBar .logo {
  font-size: 24px;
  font-family: 'Arial Black';
  font-weight: bold;
  color: #9ede73;
}

.navBar nav ul {
  margin: 0;
  padding: 0;
}

.navBar nav>ul>li {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  list-style: none;
  font-size: 13px;
  font-weight: bold;
  position: relative;
}

.navBar nav>ul>li>a {
  display: block;
  padding-top: 11px;
  /*跟旁边的logo对齐*/
  padding-bottom: 9px;
  margin-bottom: 3px;/*让那条横线显示出来*/ 
  color: inherit;
  position: relative;
}

.navBar nav>ul>li.active>a::after,
.navBar nav>ul>li.highLight>a::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e48900;
  animation: leftToRight .3s;
}
@keyframes leftToRight{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
.navBar .submenu{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  color: #3d4451;
  padding: 5px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation: submenuSlide .3s linear;
}
.navBar .submenu > li{
  white-space: nowrap;
  padding: 10px;
}
.navBar li.active .submenu{
  display: block;
}
@keyframes submenuSlide{
  0%{
    margin-right: 100%;
    opacity: 0;
  }
  100%{
    margin-right: 0;
    opacity: 1;
  }
}
.banner {
  background-image: url(../img/rs-cover.jpg);
  height: 515px;
  background-size: cover;
}

.banner>.mask {
  height: 515px;
  background-color: rgba(0, 0, 0, .65);
}

body>main {
  margin-top: -340px;
}

[data-x].offset{
  transform: translateY(150px);
}
[data-x]{
  transform: translateY(0);
  transition: all 0.5s;  
}

.userCard {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.27);
}

.userCard .profile {
  padding: 50px;
}

.userCard .picture {
  float: left;
  margin-right: 65px;
}

.userCard .text {
  float: left;
  width: 470px;
}

.userCard .text .welcome {
  position: relative;
  display: inline-block;
  margin-bottom: 33px;
  background-color: rgb(230, 104, 106);
  padding: 4px 17px;
  color: white;
}

.userCard .text .welcome .triangle {
  position: absolute;
  top: 100%;
  left: 5px;
  border: 10px solid transparent;
  border-top: 0;
  border-left-color: rgb(230, 104, 106);
  width: 0;
}

.userCard .text hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.userCard .text>dl>dt, .userCard .text>dl>dd {
  float: left;
  margin-top: 10px;
}

.userCard .text>dl>dt {
  width: 30%;
  font-weight: bold;
}

.userCard .text>dl>dd {
  width: 70%;
  color: rgb(157, 169, 198)
}

.userCard footer.media {
  background-color: rgb(230, 104, 106);
  text-align: center;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.userCard footer.media svg {
  width: 30px;
  height: 30px;
  fill: white;
}

.userCard footer.media a {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  margin: 16px;
  padding: 5px 0;
}

.userCard footer.media a:hover {
  background-color: rgb( 207, 93, 95);
}

main .downloadResume-wrapper {
  text-align: center;
  display: block;
}

main a.downloadResume {
  margin: 33px 0;
  color: rgb(61, 68, 81);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  display: inline-block;
  border: 1px solid rgb(205, 207, 209);
  background-color: rgb(239, 239, 239);
  padding: 21px 57px;
  transition: box-shadow 0.2s;
}

main a.downloadResume:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

main .selfIntroduction {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 940px;
  font-size: 16px;
  line-height: 18px;
  font-family: "华文楷体";
}

body>section.skills, section.portfolio, section.messages{
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  margin-top: 75px;
}

body>section.skills>h2,
section.portfolio>h2,
section.messages>h2 {
  color: rgb(61, 68, 81);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

body>section.skills>ol {
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.68);
  padding: 45px 50px 8px;
}

body>section.skills>ol>li {
  float: left;
  width: 46%;
  margin-bottom: 37px;
}

body>section.skills>ol>li:nth-child(even) {
  margin-left: 8%;
}

body>section.skills>ol>li>h3 {
  font-size: 16px;
  line-height: 1.7;
}

section.skills ol li .progressBar {
  height: 5px;
  background-color: rgb(250, 225, 225);
  border-radius: 2px;
  overflow: hidden;
}

section.skills .progress {
  background-color: rgb(230, 104, 106);
  border-radius: 2px;
  height: 100%;
  transform: translateX(0);
  transition: all 0.5s;
}
section.skills.offset .progress{
  transform: translateX(-100%);
}
section.portfolio {
  max-width: 760px;
  text-align: center;
  margin-bottom: 100px;
}

section.portfolio nav {
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
}

section.portfolio nav ol {
  display: inline-block;
  vertical-align: top;
}

section.portfolio nav>ol>li {
  float: left;
  margin-left: 40px;
  cursor: pointer;
}

section.portfolio nav>ol>li:first-child {
  margin-left: 0;
}

section.portfolio nav .bar {
  margin-top: 5px;
  margin-bottom: 30px;
  height: 5px;
  border-radius: 2px;
  background-color: white;
  transition: 0.5s;
}

section.portfolio nav .bar .bar-inner {
  height: 5px;
  border-radius: 2px;
  background-color: rgb(230, 104, 106);
}

section.portfolio nav .bar.state1 {
  width: 34px;
}

section.portfolio nav .bar.state2 {
  width: 45px;
  margin-left: 65px;
}
section.portfolio nav .bar.state3 {
  width: 97px;
  margin-left: 138px;
}
.swiper-container {
  width: 668px;
  height: 501px;
}  
section.portfolio .swiper-button-next, 
section.portfolio .swiper-button-prev{
  background-color: white;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  right: 100%;
  left: auto;
}
section.portfolio .swiper-button-next{
  right: auto;
  left: 100%;
}
section.portfolio .swiper-button-next:focus, 
section.portfolio .swiper-button-prev:focus{
  outline: none;
}

section.messages > ol{
  margin: 30px auto;
  border-bottom: 1px solid #ddd;
}
section.messages > ol > li{
  border-top: 1px solid #ddd;
  padding: 16px;
}
section.messages > form{
  margin: 30px 0;
  margin-bottom: 500px;
  display: flex;
  justify-content: space-between;
}
section.messages >form > input[name="content"],
section.messages >form > input[name="name"]{
  font-size: 18px;
  height: 36px;
  width: 600px;
  line-height: 36px; 
  padding: 0 10px;
  border: 1px solid rgb(217, 224, 227);
  border-radius: 3px;
}
section.messages >form > input[name="name"]{
  width: 100px;
}
section.messages >form > input:focus{
  border-color: rgb(105, 118, 124);
}
section.messages > form > button[type="submit"]{
  font-size: 18px;
  padding: 0 28px;
  height: 36px;
  line-height: 36px;
  background-color: rgb(62, 185, 207);
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s;
}
section.messages > form > button[type="submit"]:hover{
  background-color: rgb(44, 167, 189);
}